.row
  div.btn-group.pull-right
    if asset.contentHash
      a.btn.btn-primary(href="/files/" + asset.contentHash)
        i.fa.fa-external-link
        | &nbsp;Go to file
    else
      if asset.externalUrl
        a.btn.btn-primary(href=asset.externalUrl)
          i.fa.fa-external-link
          | &nbsp;Go to resource
    a.btn.btn-info(href="/assets/" + asset._id)
        i.fa.fa-eye    
        | &nbsp;See More
    a.btn.btn-warning(href="/assets/" + asset._id + "/edit")
        i.fa.fa-pencil    
        | &nbsp;Edit
        
  h1
    a(href="/assets/#{asset._id}") #{asset.title}
    if asset.draft
      | &nbsp;
      small
        span.label.label-danger Draft
    else if !(asset.published)
      | &nbsp;
      small
        span.label.label-warning Awaiting Moderation
        
.row      
  p #{asset.description}
.row
  .col-md-2
    if(asset.urlThumbnail)
      a.thumbnail(href="/assets/#{asset._id}")
        img.embed-responsive-item(src=asset.urlThumbnail)
    else if(asset.pngThumbnail)
      a.thumbnail(href="/assets/#{asset._id}")
        img.embed-responsive-item(src="/assets/#{asset._id}.png")
  .col-md-5
    ul.list-group
      for tagId in asset.tags
        if tags
          - var tag = tags.filter( function(t) { return t._id == tagId; } )[0];
          if tag
           li.list-group-item
              include tag
          else
            li.list-group-item
              h5
                span.text-muted.label.label-danger #{tagId}
        else
          - var tag = { _id: tagId }
          include tag
  .col-md-5
    include asset/description
    
if !(asset.published) && (user.type === 'admin') && (!(asset.submitter.equals(user._id)))
  p.text-muted.pull-left This resource is not yet published.  As a moderator, you can click&nbsp;
  form(role="form",method="POST",action='/assets/' + asset._id + '/approvals')
    button.btn.btn-success.btn-xs(type="submit",name="action",value="approve")
      i.fa.fa-check
      | &nbsp;Approve!
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='remarks', value="")
if !(asset.published) && (user.type === 'admin') && (asset.submitter.equals(user._id))
  p.text-muted.pull-left This resource is not yet published.  But as the submitter of the resource, you are not permitted to approve the resource.  You'll have to find another moderator who is willing to approve it.
