div(class="asset",data-title=asset.title, data-type=asset.type, data-pedagogical-timeframe=asset.pedagogicalTimeframe, data-pedagogical-perspective=asset.pedagogicalPerspective)
  .row
    div.btn-group.pull-right
      if user && asset.isEditableBy(user)        
        a.btn.btn-danger(href="/assets/" + asset._id + "/edit", data-toggle="tooltip",title="You can edit this because " + asset.isEditableBy(user) + ".", data-placement="top")
            i.fa.fa-edit
            | &nbsp;Edit

    h1
      a(href="/assets/#{asset._id}") #{asset.title}
      if asset.draft
        | &nbsp;
        small
          span.label.label-danger Draft
      else if !(asset.published)
        | &nbsp;
        small
          span.label.label-warning Awaiting Moderation

  .row      
    p #{asset.description}
  .row
    .col-md-2
       if(asset.urlThumbnail)
            a.thumbnail(href="/assets/#{asset._id}")
              img.embed-responsive-item(src=asset.urlThumbnail)
       else if (asset.contentType.match( "application/pdf" ))
          a.thumbnail
            iframe.embed-responsive-item(src="https://docs.google.com/gview?embedded=true&url=" + asset.url(),frameborder="0")
       else if(asset.pngThumbnail)
            a.thumbnail(href="/assets/#{asset._id}")
              img.embed-responsive-item(src="/assets/#{asset._id}.png")
       else if (asset.type === "sagecell")
         a.thumbnail(href="/assets/#{asset._id}")
           div.embed-responsive-item
             h3.text-center                   
               i.fas.fa-cloud.fa-lg
    .col-md-5
      ul.list-group
        for tagId in asset.tags
          if tags
            - var tag = tags.filter( function(t) { return t._id == tagId; } )[0];
            if tag
             li.list-group-item
                include tag
            else
              li.list-group-item
                h5
                  span.text-muted.label.label-danger #{tagId}
          else
            - var tag = { _id: tagId }
            include tag
    .col-md-5
      include asset/description

  if user && !(asset.published) && (user.type === 'admin') && (!(asset.submitter.equals(user._id)))
    p.text-muted.pull-left This resource is not yet published.  As a moderator, you can click&nbsp;
    form(role="form",method="POST",action='/assets/' + asset._id + '/approvals')
      button.btn.btn-success.btn-xs(type="submit",name="action",value="approve")
        i.fa.fa-check
        | &nbsp;Approve!
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='remarks', value="")
  if user && !(asset.published) && (user.type === 'admin') && (asset.submitter.equals(user._id))
    p.text-muted.pull-left This resource is not yet published.  However, as the submitter of the resource, you are <strong>not permitted</strong> to approve the resource yourself.  You must find another moderator to approve it.
