if user
  //- Right side
  ul.nav.navbar-nav.navbar-right
    //- Visible to Admin users only!
    if user.type == 'admin'
      li.dropdown(class=url=='/administration'?'active':undefined)
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.fa.fa-fw.fa-bolt
          | &nbsp;Admin&nbsp;
          b.caret
        ul.dropdown-menu
          li
            a(href='/assets/queue')
              i.fa.fa-fw.fa-balance-scale
              | &nbsp;Moderation Queue
          li
            a(href='/accounts')
              i.fa.fa-fw.fa-users
              | &nbsp;Accounts

    //- User account
    li
      a(href='/assets/new')
        i.fa.fa-plus.fa-fw
        | &nbsp;Add Content
    li
      include search
    
    li.dropdown(class=url=='/account'?'active':undefined)
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        if user.profile.picture
          img.profile-image(src='#{user.profile.picture}')
        else
          img.profile-image(src='#{user.gravatar(60)}')
        | #{user.profile.name || user.email || user.id}&nbsp;
        b.caret
      ul.dropdown-menu
        li
          a(href='/users/' + user._id + '/assets')
            i.fa.fa-fw.fa-tasks
            | &nbsp;My Contributions
        li
          a(href='/account')
            i.fa.fa-fw.fa-user
            | &nbsp;My Account
        li.divider
        li
          a(href='/logout')
            i.fa.fa-fw.fa-sign-out-alt
            | &nbsp;Logout 
else
  //- No user/not logged in
  ul.nav.navbar-nav.navbar-right
    li
      include search  
    li(class=url=='/login'?'active':undefined)
      a(href='/login')
        i.fa.fa-sign-in-alt.fa-fw
        | &nbsp;Sign In
