extends ../layouts/layout

block head
  title #{application}

block styles
  link(rel='stylesheet', href='/lib/animate.css/animate.css')

block content
  .jumbotron.white
    .container
      .row
        .col-md-7
          div.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/hMOlNwzqBIk")
        .col-md-5
          h3 What is #{application}?
          p Finding online education resources may not be difficult, but finding great resources known to be high-quality is a challenge.
          p CuratedCourses is here to help.
          div.btn-group.pull-right
            a.btn.btn-white(href='/about', role='button')
              | Learn More&nbsp;
              i.fa.fa-chevron-right
      hr.separator
      .row.hidden-xs.hidden-sm
        .col-md-12
          h2 #{application} is&hellip;
      .row.hidden-xs.hidden-sm
        .col-md-4
          h2.text-center
            i.fa.fa-group.fa-lg.teal
          h3.text-center
            | Collaborative
          hr.separator
          if user
            p
              | Everyone can contribute to the #{application} catalog of great resources.
          else
            p
              | Everyone can contribute.  Log in to propose an addition or edit to our collaborative catalog of great resources.
        .col-md-4
          h2.text-center
            i.fa.fa-book.fa-lg.teal
          h3.text-center                        
            | Aligned
          hr.separator
          p
            | The catalog of #{application} resources is aligned to popular textbooks, making it easy to integrate high-quality resources into your classroom.
        .col-md-4            
          h2.text-center                   
            i.fa.fa-thumbs-o-up.fa-lg.teal
          h3.text-center                               
            | Reviewed
          hr.separator
          p
            | The posted content is carefully curated by experts.  Search the repository to find content you can use today.
      .row
        .col-md-4
          if user
            a.btn.btn-small.btn-default(href='/assets/new',role='button')
              i.fa.fa-plus
              | &nbsp;Add Resource
          else
            a.btn.btn-small.btn-default(href='/login',role='button')
              i.fa.fa-sign-in
              | &nbsp;Log In             
        .col-md-4                
          a.btn.btn-small.btn-default(href='/textbooks/',role='button')
            i.fa.fa-eye
            | &nbsp;View Textbooks
        .col-md-4                
          a.btn.btn-small.btn-default(href='/assets/search',role='button')
            i.fa.fa-search
            | &nbsp;Search Content
      
  script.
    $(document).ready(function() {
      $('body').addClass('bg-brand1');
    });