extends ../layouts/layout

block head
  title #{tagName}

block styles

block content
  .mini-tron
    .container
      h1 #{tag.description}
      p
        | #{tag._id}
  .container        
    .row
      .col-md-12
        p BADBAD: relevant resources should appear here
        // p.text-muted !{tag.copyright.replace(/\(c\)/,'&copy;')}
        // p.text-muted #{tag.license}