extends ../layouts/layout

block head
  title Add Content &middot; #{application}

block content

  .mini-tron
    .container
      h1 Add Content
      p
        | Submit high-quality content for broader dissemination

  .container
    p To submit a new resource for inclusion in the #{application} catalog, you may <strong>either</strong> provide a URL pointing to an already existing resource <em>or</em> upload a file which #{application} will then host.
    hr.separator
    .row
      .col-md-6
        - scripts.push("upload-submits");
        form#uploadform(role="form",method="POST",enctype="multipart/form-data")
          input(type='hidden', name='_csrf', value=_csrf)          
          div.form-group
            label(for="title") Contribute a file
            p.form-text.text-muted Is the resource not already available elsewhere on the internet?
            p.form-text.text-muted If so, we are happy to host the file on your behalf.
            label.btn.btn-primary.btn-file
              span.fa.fa-upload            
              | &nbsp;Upload file&hellip;
              input#file(type="file",name="assetFile",style="display: none;")    
      .col-md-6
        form(role="form",method="POST",novalidate)
          input(type='hidden', name='_csrf', value=_csrf)
          div.form-group
            label(for="assetUrl") Contribute a URL
            p.form-text.text-muted Is the resource already available on the internet?
            p.form-text.text-muted If so, please provide a URL.
            - scripts.push('validate-url');
            div.input-group
              input.form-control(type="url", name="assetUrl", id="assetUrl", placeholder="http://.../")
              span.input-group-btn
                button.btn.btn-primary(type="submit")
                  span.fa.fa-link
                  | &nbsp;Add URL

