extends ../layouts/layout

block head
  title #{asset.title} &middot; #{application}

block content

  .mini-tron
    .container
      if asset.draft
        div.pull-right
          span.label.label-danger Draft
      if (!(asset.published))
        div.pull-right
          span.label.label-warning Awaiting Moderation
      h1 #{asset.title}
          
      p #{asset.url()}
     
  .container
    if asset.draft || (!(asset.published))
     .row
       .col-md-12
         div.alert.alert-warning(role="alert")
           if asset.draft
             i.fa.fa-edit           
             | &nbsp;This is only a <strong>draft</strong> of a resource.&nbsp;
           if (!(asset.published))
             i.fa.fa-balance-scale
             | &nbsp;This resource has <strong>not</strong> yet been published.&nbsp;  It is awaiting moderation.
         hr.separator
 
    .row
      .col-md-8
        if (sagecell)
          - scripts.push('sage');
          div.sage
            script(type="text/x-sage")
              != sagecell
        if asset.externalUrl && asset.externalUrl.match( /^https?:\/\/www.youtube.com\/watch\?v=/ )
          div.embed-responsive.embed-responsive-16by9        
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/" + asset.externalUrl.split("v=")[1])
        if asset.contentType == "application/pdf"
          div.embed-responsive.embed-responsive-16by9                
            iframe.embed-responsive-item(src="http://docs.google.com/gview?embedded=true&url=" + asset.url(),frameborder="0")
      .col-md-4
        p #{asset.description}
        include ../partials/asset/description.jade
    .row
      .col-md-12
        div.btn-toolbar
          div.btn-group
            a.btn.btn-danger(href="/assets/" + asset._id + "/edit")
              span.fa.fa-edit
              | &nbsp;Edit
          div.btn-group              
            a.btn.btn-danger(href="/assets/" + asset._id + "/new")
              span.fa.fa-exchange
              | &nbsp;Propose Changes

    if asset.additionalPrerequisites && (asset.additionalPrerequisites.length > 0)
      hr.separator
      div.row
        div.col-md-12
          h4 Additional prerequisites
            small.text-muted &nbsp;What additional skills are required to use this resource?
          p #{asset.additionalPrerequisites}
    if asset.accessibility && (asset.accessibility.length > 0)
      hr.separator    
      div.row
        div.col-md-12
          h4 Accessibility
            small.text-muted &nbsp;What accessibility challenges does the resource present?
          p #{asset.accessibility}
        
    hr.separator
    if (!(asset.draft))
      h3 History
      div.media
        div.media-left
          a(href="#")
            if asset.submitter.profile.picture
              img.media-object(src='#{asset.submitter.profile.picture}',width=64,height=64)
            else
              if asset.submitter.gravatar(60)
                img.media-object(src='#{asset.submitter.gravatar(60)}',width=64,height=64)
        div.media-body
          h5.pull-right #{moment(asset.submittedAt).format('MMMM Do, YYYY')}
            small.text-muted &nbsp;#{moment(asset.submittedAt).fromNow()}                  
          h4.media-heading
            | Submitted by #{asset.submitter.profile.name || asset.submitter.email || asset.submitter.id}&nbsp;
          
      for approval in asset.approvals
        div.media
          div.media-left
            a(href="#")
              if approval.user.profile && approval.user.profile.picture
                img.media-object(src='#{approval.user.profile.picture}',width=64,height=64)
              else
                if approval.user.gravatar
                  img.media-object(src='#{approval.user.gravatar(60)}',width=64,height=64)
          div.media-body
            h5.pull-right #{moment(approval.date).format('MMMM Do, YYYY')}
              small.text-muted &nbsp;#{moment(approval.date).fromNow()}          
            h4.media-heading
              if approval.user.profile && approval.user.profile.name
                | #{approval.user.profile.name}&nbsp;
              else
                if approval.user.email
                  | #{approval.user.email}&nbsp;
                else
                  if approval.user
                    | #{approval.user}&nbsp;
                  else
                    | User&nbsp;
              if approval.upvote
                span.label.label-success
                  i.fa.fa-check
                  | &nbsp;Approved!                    
            p #{approval.remarks}
      if user.type == 'admin'
        if asset.submitter._id.equals(user._id)
          p
            div.alert.alert-warning
              i.fa.fa-user
              | &nbsp;You are not permitted to approve a resource that you submitted.
        else
          form(role="form",method="POST",action='/assets/' + asset._id + '/approvals')
            input(type='hidden', name='_csrf', value=_csrf)
            div.media
              div.media-left
                a(href="#")
                  if user.profile.picture
                    img.media-object(src='#{user.profile.picture}',width=64,height=64)
                  else
                    img.media-object(src='#{user.gravatar(60)}',width=64,height=64)
              div.media-body
                div.form-group          
                  textarea.form-control#remarks(name="remarks",rows=3,placeholder="")
                div.form-group.pull-right
                  div.btn-group
                  button.btn.btn-danger#comment(type="submit",name="action",value="comment")
                    i.fa.fa-comment-o.fa-fw
                    | &nbsp;Comment without endorsing              
                  button.btn.btn-success#approve(type="submit",name="action",value="approve")
                    i.fa.fa-check.fa-fw
                    | &nbsp;Approve!
